<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container card-">
	<div class="row mt-4">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="https://instagram.fnqn4-1.fna.fbcdn.net/v/t51.2885-19/152062839_251404969937577_1999016152325551286_n.jpg?stp=dst-jpg_s150x150&_nc_ht=instagram.fnqn4-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=NXa-JlinTW4AX8RycGo&edm=AId3EpQBAAAA&ccb=7-4&oh=00_AT93R57c1SiY2sC0T0XejSUM7JqdQ_aCuakc8l7swL-B4Q&oe=625043C9&_nc_sid=705020">
                </div>
                <div class="info">
                    <div class="title">
                        <a>Abigail</a>
                    </div>
                    <div class="desc">Mi nombre es Cecilia Abigail Garcia y tengo dieciocho años.</div>
                    <div class="desc">estoy en el colegio del CET №30 (Centro Educativo Tecnico), La orientación del colegio es de “Técnico de Programación”.</div>
                    <div class="desc">era bailarina de danza folklorica.</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://www.instagram.com/abi_crespin08/">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://www.facebook.com/profile.php?id=100079705234647">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>

        </div>

	</div>
</div>